### Structured Arrays
Each field in the array has a name, data type, and optional shape/byte order.

python

In [5]:
import numpy as np

# 1. Define a dtype with fields: name (string), age (int), weight (float)
dtype = np.dtype([
    ('name', 'U10'),  # Unicode string of length 10
    ('age', 'i4'),    # 4-byte integer
    ('weight', 'f8')  # 8-byte float
])
# From a list of tuples
data = [('Alice', 25, 55.5), ('Bob', 30, 75.2)]
arr = np.array(data, dtype=dtype)
arr

array([('Alice', 25, 55.5), ('Bob', 30, 75.2)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')])

In [6]:
# 2. Accessing Data
# Access Fields by Name:
print(arr['name'])  # ['Alice' 'Bob']
print(arr['age'])   # [25 30]

['Alice' 'Bob']
[25 30]

In [7]:
# Access Rows by Index:
print(arr[0])  # ('Alice', 25, 55.5)

('Alice', 25, 55.5)

In [9]:
# Modify Values:
arr['age'] = [26, 31]  # Update all ages
arr

array([('Alice', 26, 55.5), ('Bob', 31, 75.2)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')])

In [11]:
# 3. Advanced Creation Methods
# From Mixed Data:
# Initialize an empty array and fill fields
arr = np.empty(2, dtype=dtype)
arr['name'] = ['Alice', 'Bob']
arr['age'] = [25, 30]
arr

array([('Alice', 25, 0.), ('Bob', 30, 0.)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')])

In [17]:
# 4. Operations on Structured Arrays
print(arr['age'].mean())
print(arr['age'].min())
print(arr['age'].max())
print(arr['age'].sum())

27.5
25
30
55